PORT=4000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=change-me-in-local-env
GOOGLE_CLIENT_ID=873401119664-n2li1rg8rsmibfg6um916f36ojdeqa70.apps.googleusercontent.com.apps.googleusercontent.com
DATABASE_URL=postgresql://ghoomo:ghoomo@localhost:5432/ghoomo?schema=public
